{% extends "base.html" %}
{% block title %}About RPI Petitions{% endblock %}

{% block content %}

<div class="container">
    <h3 class="text-dark text-center pontiac">About RPI Petitions</h3>
    <br>
    <!-- Navigation tabs -->
    <ul class="nav nav-tabs justify-content-center" role="tablist">
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#history">History</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#petprocess">Petition Process</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#moderation">Moderation</a>
        </li>
    </ul> 
    <!-- Tab descriptions -->
    <div class="tab-content">
            <!--This explains the history of the site. Paraphrased what was in the older website, so this is really just a placeholder-->
            <div id="history" class="container tab-pane fade"><br>
                <p>This version of RPI Petitions is the collaborative effort of members of the Rensselaer Center for Open Source (RCOS), RPI's Web Technologies Group, and Student Senate.</p>
                <p>RPI Petitions exists for the purpose of giving all RPI students the abilty to spark  change in their community.</p>
            </div>

            <!--These are the steps we recommend first-time users read before they make a petition. Can be edited based on what features are included in the site's final version-->
            <div id="petprocess" class="container tab-pane active"><br>
                <p>Curious about creating a new petition? Here are some steps to help get you started!</p>
                <blockquote class="blockquote bg-light text-center pontiac">Have an Idea!</blockquote>
                <p>Search for petitions that match your concerns. If a petition for your issue already exists, sign it! This will help raise support for your cause and reach the amount of signatures needed to gain Senate support (250, as of 03/13/2015).</p>
                <hr>
                <blockquote class="blockquote bg-light text-center pontiac">Write your Petition!</blockquote>
                    <p>
                        <a href="{% url 'create' %}">Create a petition</a> if your issue hasn’t been raised. Use proper grammar and spelling, and make your description clear so that others can easily find your petition. Be sure to review our Moderation Policy (located on the right-most tab of this page) before posting.
                    </p>
                    <p class="text-danger">Be careful! You can't edit or delete a petition once it has been submitted. </p>
                <hr>
                <blockquote class="blockquote bg-light text-center pontiac">Share your Petition!</blockquote>
                    <p>Use social media to spread awareness of your issue!</p>
                    <p> A petition has one year to reach its threshold. If the threshold is not reached, then the petition is archived. You can still search for said petition, but you will be unable to sign it. Student Senate may elect to address a petition prior to reaching its threshold.</p>
            </div>

            <!--Details which bodies moderate the site and what's allowed/not allowed for a petition-->
            <div id="moderation" class="container tab-pane fade"><br>
                <p>The Rensselaer Union Student Senate empowers the Elections Committee and Web Technologies Group with moderating privileges on the RPI Petitions website. Petitions deemed inappropriate may be removed from the site at the discretion of these committees, for reasons including but not limited to: </p>
                <ol>
                    <b>
                    <li>Violation of the Senate Bylaws, Union Constitution, or external laws and regulations including those set by local, regional, or federal government. </li>
                    <li>Mandating the hiring or firing of Institute personnel.</li>
                    <li>Requesting removal of an elected official without specifying good cause.</li>
                    <li>Direct personal attacks or slander.</li>
                    <li>Sharing of personal or confidential information.</li>
                    <li>Inappropriate or profane language.</li>
                    <li>Discriminatory or prejudicial content.</li>
                    <li>Redundancy with existing petitions.</li>
                    <li>Lack of clarity in the petition's goals.</li>
                    <li>Spamming of petitions.</li>
                    </b>
                </ol>
                <p>Petitions out-of-scope for the Student Senate may additionally be referred to other organizations where applicable. In all cases where a petition is removed or referred, its sponsor will be notified of the reason for removal or referral.</p>

                <p>To appeal decisions involving a petition's removal or referral, please contact Rules and Elections at rne@union.rpi.edu.</p>
                
                <p>Full moderation rules may be found in Rules and Elections' official <a href="http://docs.studentsenate.rpi.edu/documents/2743/download" target="_blank">Petition and Referendum Handbook</a>.</p>
        </div>
    </div>
</div>
{% endblock %}