
{% extends "base.html" %}
{% block title %}View All Petitions{% endblock %}

{% block content %}

<div class="container">
    <h3 class="text-light headingbar">All Petitions</h3>
    <div class="row">
        <div class="col-sm-5">
            <div class="checkbox">
                <label>
                    <input type="checkbox" aria-label="All resolved petitions checkbox"> Show All Resolved
                </label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Show All Recognized
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="dropdown float-right">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="tagdropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Sort By:
                </button>
                <div class="dropdown-menu" aria-labelledby="tagdropdown">
                    <a class="dropdown-item" href="#">Most Recent</a>
                    <a class="dropdown-item" href="#">Most Signatures</a>
                </div>
            </div>
        </div>
    </div>
</div>

<ul class="flex-container">
    {% for petition in petitions %}
    <li class="flex-item">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a href="#">{{ petition.title }}</a></h5>
                <h6 class="card-subtitle mb-2">{{ petition.signatures.count }} signatures</h6>
                {% for tag in petition.tags.all %}
                <a href="#" class="link">{{ tag }}</a><br>
                {% endfor %}
            </div>
        </div>
    </li>
    {% empty %}
    <p>No petitions yet. Stay tuned!</p>
    {% endfor %}
</ul>

<div class="container">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <!--Page Numbers-->
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <!--End of Page Numbers-->
        <li class="page-item">
            <a class="page-link" href="#">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</div>
{% endblock %}