<li class="flex-item">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><a href="#">{{ petition.title }}</a></h5>
            <p><i>{{ petition.description|truncatechars:140 }}</i></p>
            <h6 class="card-subtitle mb-2">{{ petition.signatures.count }} signature{{ petition.signatures.count|pluralize }}</h6>
            <div>
                {% for tag in petition.tags.all %}
                    <a href="#" class="link badge">{{ tag.label }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</li>