{% extends "base.html" %}
{% block title %}Create Petitions Page{% endblock %}

{% block content %}

<!--Page Heading-->
<br>
<div class="container">
    <h3 class="text-dark headingbar pontiac">Create a Petition</h3>
</div>
<br>
<!--Warning block-->
<div class="container preface">
    <p>If this is your first time creating a petition on RPI Petitions, please read our fantastic <a href="#"
            class="guidelink"> one-minute guide</a>.
        <br><br>
        Note: You <span style="color:red">cannot</span> manually edit or delete the petition once it is submitted (so
        read through it twice!).</p>
</div>
<br>
<!--Contains all the inputs needed for creating a petition (title, tag(s), description)-->
<div class="container creating">
    <!--Enter your petition's name. There will be a character limit to keep the sections neat and enforce simple titles-->
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Name of Petition</span>
        </div>
        <input type="text" class="form-control" placeholder="Enter petition name here" aria-label="Username"
            aria-describedby="basic-addon1">
    </div>
    <label class="mr-sm-2" for="inlineFormCustomSelect">Please pick at least 1 Tag...</label>
    
    <!-- Pick up at least one tag and at most three tags that are relevant to your petition -->
    <form>
        <div class="form-row align-items-center">
          <div class="col-auto my-1">
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
            <option selected>Choose Tag #1</option>
            {% for tag in tags %}
            <option value="1">{{ tag.label }}</option>
            {% endfor %}
            </select>
          </div>
          <div class="col-auto my-1">
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
            <option selected>Choose Tag #2</option>
            {% for tag in tags %}
            <option value="1">{{ tag.label }}</option>
            {% endfor %}
            </select>
          </div>
          <div class="col-auto my-1">
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
            <option selected>Choose Tag #3</option>
            {% for tag in tags %}
            <option value="1">{{ tag.label }}</option>
            {% endfor %}
            </select>
          </div>
        </div>
    </form>
    <br>
    <!-- Enter a description about your petition  -->
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Description</span>
        </div>
        <textarea class="form-control" placeholder="Describe your petition here"
            aria-label="petition-description"></textarea>
    </div>
</div>

<br>
<!--The 'send petition' button-->
<div class="container" role="group" aria-label="sendPetition" >
    <div class="text-center">
        <button type="button" class="btn btn-primary btn-danger">Create Petition</button>

    </div>
</div>


{% endblock %}