{% extends "base.html" %}
{% block title %}Create A Petition{% endblock %}

{% block content %}
<!--Page Heading-->
<div class="container">
    <h3 class="text-dark headingbar pontiac">Create a Petition</h3>
</div>
<!--Warning block-->
<div class="container preface">
    <p>If this is your first time creating a petition on RPI Petitions, please read our fantastic <a href="about.html"
            class="guidelink"> one-minute guide</a>.
        <br><br>
        Note: You <span style="color:red">cannot</span> manually edit or delete the petition once it is submitted (so
        read through it twice!).</p>
</div>

<!--Contains all the inputs needed for creating a petition (title, tag(s), description)-->
<div class="container creating">
    <!--Enter your petition's name. There will be a character limit to keep the sections neat and enforce simple titles-->
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Name:</span>
        </div>
        <input type="text" class="form-control" placeholder="Enter petition name here" aria-label="Username"
            aria-describedby="basic-addon1">
    </div>
    <!--All tags from the original website. Users are only allowed to pick 3 tags (need to create an algorithm) to stop the user after they've chosen 3-->
    <div class="dropdown mb-3">
        <button class="btn dropdown-toggle" type="button" id="tagdropdown" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Petition Tags <span style="font-size: 10px">(max of 3)</span></button>
        <div class="dropdown-menu" aria-labelledby="all-tags">
            <a class="dropdown-item" href="#">Academics</a>
            <a class="dropdown-item" href="#">Athletics</a>
            <a class="dropdown-item" href="#">Communications</a>
            <a class="dropdown-item" href="#">Community</a>
            <a class="dropdown-item" href="#">Dining Services</a>
            <a class="dropdown-item" href="#">Extracurriculars</a>
            <a class="dropdown-item" href="#">Facilities</a>
            <a class="dropdown-item" href="#">Greek Life</a>
            <a class="dropdown-item" href="#">Health Services</a>
            <a class="dropdown-item" href="#">Rensselaer Union</a>
            <a class="dropdown-item" href="#">Research</a>
            <a class="dropdown-item" href="#">Residence Life</a>
            <a class="dropdown-item" href="#">Safety</a>
            <a class="dropdown-item" href="#">Student Government</a>
            <a class="dropdown-item" href="#">Student Life</a>
            <a class="dropdown-item" href="#">Student Rights</a>
            <a class="dropdown-item" href="#">Technology Services</a>
            <a class="dropdown-item" href="#">Tradition</a>
            <a class="dropdown-item" href="#">Transportation</a>
        </div>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Description</span>
        </div>
        <textarea class="form-control" placeholder="Talk about why you're excited about this petition!"
            aria-label="petition-description"></textarea>
    </div>
</div>
<!--The 'send petition' button-->
<div class="container" role="group" aria-label="sendPetition">
    <button class="btn ">Create Petition</button>
</div>
{% endblock %}