{% extends "base.html" %}
{% block title %}RPI Petitions{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="caption">
        <h1 class="pontiac">Let Your Voice Be Heard</h1>
        <br>
        <h4 class="pontiac">with RPI Petitions <br> and Student Senate!</h4>
    </div>    
</div>

<div class="container">
        <h5 class="text-center headingbar"><i>With Student Senate Petitions, create and champion petitions for change on campus, whether large or small.</i></h5>
    <hr>
    <div class="header text-center">
        <h4>
        <b>Recent Petitions</b>
        </h4>
    </div>
    <ul class="flex-container">  
        {% for petition in petitions %}
            <li class="flex-item">
                <div class="card bg-light">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">{{ petition.title }}</a></h5>
                        <h6 class="card-subtitle mb-2">{{ petition.signatures.count }} signatures</h6>
                        {% for tag in petition.tags.all %}
                            <a href="#" class="link">{{ tag }}</a><br>
                        {% endfor %}
                    </div>
                </div>
            </li>
        {% empty %}
            <p>No petitions</p>
        {% endfor %} 
    </ul>
    
</div>
{% endblock %}
