{% extends "base.html" %}
{% block title %}RPI Petitions{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="caption">
        <h1 class="pontiac">Let Your Voice Be Heard!</h1>
        <br><br><br>
        <h4>Create and support petitions for change on campus, whether large or small.</h4>
    </div>    
</div>

<div class="container">
    <div class="header"><h4>Recent Petitions</h4></div>    
    
    <ul class="flex-container">  
        {% for petition in petitions %}
            {% include "card.html" with petition=petition %}
        {% empty %}
            <p>No petitions</p>
        {% endfor %} 
    </ul>
    
</div>
{% endblock %}
