{% extends "base.html" %}
{% block title %}RPI Petitions{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="caption">
        <h1 class="pontiac">Student Senate Petitions</h1>
        <h4>Create and sign petitions.</h4>
        <h4>Make your voice heard by the RPI Student Senate and the campus community.</h4>
    </div>    
</div>

<div class="container">
    <div class="header"><h4>Recent Petitions</h4></div>    
    <div class="grid">    
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><a href="#">Fix the Campus Wifi</a></h5>
            <h6 class="card-subtitle mb-2">4 signatures</h6>
            <a href="#" class="link">Student Life</a><br>
            <a href="#" class="link">Technology Services</a><br>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><a href="#">Concerns of moving registration date ahead of SO for incoming students</a></h5>
            <h6 class="card-subtitle mb-2">9 signatures</h6>
            <a href="#" class="link">Academics</a><br>
        </div>
    </div>


    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><a href="#">Save RPI Greek Life - Fall Reruitment</a></h5>
            <h6 class="card-subtitle mb-2">125 signatures</h6>
            <a href="#" class="link">Community</a><br>
            <a href="#" class="link">Student Life</a><br>
            <a href="#" class="link">Greek Life</a><br>
        </div>
    </div>

    <!-- <div class="card">
        <div class="card-body">
            <h5 class="card-title"><a href="#">Fix the Campus Wifi</a></h5>
            <h6 class="card-subtitle mb-2">4 signatures</h6>
            <a href="#" class="link">Student Life</a><br>
            <a href="#" class="link">Technology Services</a><br>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><a href="#">Concerns of moving registration date ahead of SO for incoming students</a></h5>
            <h6 class="card-subtitle mb-2">9 signatures</h6>
            <a href="#" class="link">Academics</a><br>
        </div>
    </div>


    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><a href="#">Save RPI Greek Life - Fall Reruitment</a></h5>
            <h6 class="card-subtitle mb-2">125 signatures</h6>
            <a href="#" class="link">Community</a><br>
            <a href="#" class="link">Student Life</a><br>
            <a href="#" class="link">Greek Life</a><br>
        </div>
    </div> -->
    </div>
   
</div>

 <!-- Add view all petitions button -->
 <!-- <div class="container">
    <a class="btn btn-outline-danger" id="view-all" href="./view_all.html">View All Petitions</a>
 </div> -->

{% endblock %}
